{% extends 'base.html.twig' %}
    {% block body %}
        <div class="mt-2 mb-4">
            {% include 'shared/viewTitle.html.twig' with {'title': title} %}
        </div>
        {% include 'providers/list/table.html.twig' with {'providers': providers} %}
        <a class="btn btn-primary" href="{{ path('provider_create') }}" role="button">Create provider</a>
    {% endblock %}