{% extends 'base.html.twig' %}
    {% block body %}
        <div class="mt-2 mb-4">
            {% include 'shared/viewTitle.html.twig' with {'title': view_title} %}
        </div>
        {% include 'providers/list/table.html.twig' with {'providers': providers} %}
        {% include 'providers/list/createProviderButton.html.twig' %}
    {% endblock %}